<div class="modal fade" id="request" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class=" btn btn__close modal__close " data-dismiss="modal" aria-label="Close">  <svg  class= "modal__close--icon">
            <use xlink: href="#close"></use>
            </svg></button>
      </button>

      <div class="modal__title">
          Оставить заявку
      </div>

      <div class="modal__text">
        У вас вряд ли получится оставить её,но зато вы можете посмотреть какое красивое тут окошко

      </div>

      <form class="form__modal"action="/" method="/">
      <div class="form__group">
        <input type="text" class="input" placeholder="Ваше имя">
        <input type="text" class="input" placeholder="Ваша фамилия">
        <input type="text" class="input" placeholder="Ваш e-mail">
      </div>
      
      <button class="btn" type="submit" data-toggle="modal" data-target="#request">Оставить заявку</button>
      </form>

      
        
      
      </div>
    </div>
  </div>